enable-magisk-update = true # set this to false if you do not want to receive updates for the module in magisk app
parallel-jobs = 1

# add 'enabled = false' for not patching a specific app or remove it from the config
# see https://github.com/j-hc/revanced-magisk-module/blob/main/CONFIG.md for more detailed explanations

# you can use rvmm-config-gen to generate a config
# dont build on gh actions (https://github.com/j-hc/revanced-magisk-module/issues/554)

[Reddit]
build-mode = "module"
arch = "both"
apkmirror-dlurl = "https://apkmirror.com/apk/redditinc/reddit/"
uptodown-dlurl = "https://reddit-official-app.en.uptodown.com/android"

[Tiktok]
build-mode = "module"
apkmirror-dlurl = "https://www.apkmirror.com/apk/tiktok-pte-ltd/tik-tok-including-musical-ly/"
uptodown-dlurl = "https://tiktok.en.uptodown.com/android"
included-patches = "'SIM spoof'"

[Twitch]
version = "auto"
apkmirror-dlurl = "https://www.apkmirror.com/apk/twitch-interactive-inc/twitch/"
uptodown-dlurl = "https://twitch.en.uptodown.com/android"
apkmirror-dpi = "120-640dpi"
build-mode = "module"

[Twitter]
build-mode = "module"
apkmirror-dpi = "120-640dpi"
apkmirror-dlurl = "https://apkmirror.com/apk/twitter-inc/twitter/"
uptodown-dlurl = "https://twitter.en.uptodown.com/android"

[YouTube]
build-mode = "module"
arch = "both"
apkmirror-dlurl = "https://apkmirror.com/apk/google-inc/youtube/"
uptodown-dlurl = "https://youtube.en.uptodown.com/android"
included-patches = "'Custom branding'"
excluded-patches = "'GmsCore support'"
patcher-args = "-OlightThemeBackgroundColor=@android:color/system_neutral1_50 -OdarkThemeBackgroundColor=@android:color/system_neutral1_900 "
